@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 49, 49, 49;
    --background-end-rgb: 49, 49, 49;
  }
}

/* Hide scrollbar for non-WebKit browsers */
#scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

body {
  font-family: Roboto, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add these styles in your global CSS file or inside a <style> tag */
.card-pattern-violet {
  background-image: linear-gradient(
      to right,
      rgba(128, 0, 128, 1),
      rgb(128, 0, 128),
      rgba(128, 0, 128, 0.788),
      rgba(128, 0, 128, 0.534)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><circle cx="5" cy="5" r="2" fill="none" stroke="white" stroke-width="1"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

.card-pattern-blue {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 255, 1),
      rgb(0, 0, 255),
      rgba(0, 0, 255, 0.795),
      rgba(0, 0, 255, 0)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><rect width="10" height="10" fill="none" stroke="white" stroke-width="1"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

/* Add more patterns as needed */
.card-pattern-gray {
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 1),
      rgb(128, 128, 128),
      rgba(128, 128, 128, 0.897),
      rgba(128, 128, 128, 0.575)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><path d="M0 0 L10 10 M10 0 L0 10" stroke="white" stroke-width="1"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

.card-pattern-rose {
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 128, 1),
      rgb(255, 0, 128),
      rgba(255, 0, 128, 0.733),
      rgba(255, 0, 128, 0)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><circle cx="5" cy="5" r="1" fill="white"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

.card-pattern-green {
  background-image: linear-gradient(
      to right,
      rgba(0, 128, 0, 1),
      rgb(0, 128, 0),
      rgba(0, 128, 0, 0.685),
      rgba(0, 128, 0, 0)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><rect width="5" height="5" fill="white"/><rect x="5" y="5" width="5" height="5" fill="white"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

.card-pattern-red {
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgb(255, 0, 0),
      rgba(255, 0, 0, 0.733),
      rgba(255, 0, 0, 0)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><circle cx="5" cy="5" r="1" fill="none" stroke="white" stroke-width="1"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

.card-pattern-amber {
  background-image: linear-gradient(
      to right,
      rgba(255, 191, 0, 1),
      rgb(255, 191, 0),
      rgba(255, 191, 0, 0.747),
      rgba(255, 191, 0, 0.548)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><rect width="5" height="5" fill="white"/><rect x="5" y="5" width="5" height="5" fill="none" stroke="white" stroke-width="1"/></svg>');
  background-size: 100% 100%, 20px 20px;
}

.card-pattern-black {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.849),
      rgba(0, 0, 0, 0.589)
    ),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 10 10"><path d="M0 0 L10 10 M10 0 L0 10" stroke="white" stroke-width="1"/></svg>');
  background-size: 100% 100%, 20px 20px;
}
